* {
    box-sizing: border-box;
}

/* INDEX STYLING */

body {
    margin: 0;
    /*
    position: relative;
    width: 100vw;
*/
}

article {
    padding: 0 100px;
}

h1 {
    color: transparent;
    -webkit-text-stroke: 3px #6F8D75;
    font-size: 7rem;
    font-family: 'Be Vietnam';
    font-weight: bold;
}

h2,
h3 {
    font-family: 'Be Vietnam';
    color: #6F8D75;
    text-transform: uppercase;
    font-weight: 500;
}

h4 {
    color: transparent;
    -webkit-text-stroke: 1px #6F8D75;
    font-size: 2rem;
    font-family: 'Be Vietnam';
    font-weight: bold;
    text-transform: uppercase;
}

figcaption {
    font-family: 'Be Vietnam';
    color: #6F8D75;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
}

p {
    font-family: 'Be Vietnam';
    color: #6F8D75;
    font-weight: 500;
}

/* TEMA/SEKTION STYLING */

.sektion_bg {
    background-image: url(images/placeholder_bg_1200.png);
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
}

.sektion_bg h1 {
    text-align: center;
    padding-top: 200px;
    margin: 0;
}

.sektion_bg h2 {
    text-align: center;
}



/* HEADER - LOGO OG NAV */

header {
    width: 100vw;
    height: 40px;
    position: relative;
}

#nav_wrapper {
    height: 100vh;
    writing-mode: vertical-lr;
    position: fixed;
    right: 0;
}

#main_nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    position: fixed;
}

a.presse,
a.faq {
    font-family: 'Be Vietnam';
    color: #6F8D75;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-decoration: none;
}

a:hover {
    color: #AC5364;
}

a:active {
    color: #AC5364;
}

a.menu_designet:hover,
a.menu_story:hover {
    color: transparent;
    -webkit-text-stroke: 3px #AC5364;
}



/* FORSIDE */

#forside {
    width: 100%;
    height: 100vh;
}

.intro_img {
    height: 85vh;
    margin-left: 130px;
}

.intro_frida {
    position: relative;
    width: 100%;
}

.intro_video {
    position: absolute;
    right: 150px;
    top: 100px;

}

.intro_video img {
    width: 300px;
}

.intro_info {
    text-align: right;
}

.intro_video img:last-of-type {
    width: 100px;
    float: right;
}

.pil {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.pil img {
    width: 50px;
}


.test_images img {
    width: 400px;
}




/* ONEPAGE NAV */


#onepage_nav {
    padding: 0 188px 0 178px;
    display: grid;

    /* LAVES TIL BESTEMTE STØRRELSER NÅR DE ER STYLET

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
*/

}

.menu_bestil {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    text-decoration: none;
    writing-mode: vertical-lr;
    font-family: 'Be Vietnam';
    font-weight: bold;
    font-size: 5rem;
    color: #6F8D75;


}

.menu_designet {
    grid-column: 2 / 4;
    grid-row: 1 / 1;
    text-decoration: none;
    font-family: 'Be Vietnam';
    font-size: 5rem;
    color: transparent;
    -webkit-text-stroke: 3px #6F8D75;
}

.menu_story {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    text-decoration: none;
    font-family: 'Be Vietnam';
    font-size: 5rem;
    color: transparent;
    -webkit-text-stroke: 1px #6F8D75;
}

.menu_aftryk {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    text-align: right;
    text-decoration: none;
    font-family: 'Be Vietnam';
    font-size: 5rem;
    color: #6F8D75;
}

/* STORY */

#story {
    width: 100%;
    /*    height: 100vh;*/
}

#story h3 {
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 2rem;
}

#story_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    padding: 40px 40px 40px 60px;
    /*    height: 100vh;*/
    /*    position: relative;*/
}

.story_img1 {
    width: 95%;
}

.overgang {
    transition: ease 0.2s;
}

.story_txt1 {
    padding-left: 20px;
}

.wrap_right {
    /*    float: right;*/
}

.wrap_left {
    position: relative;
    width: 100%;

}

.story_img2 {
    width: 100%;
}

.story_txt2 {
    position: absolute;
    left: 20px;
    top: 170px;
}


/* DESIGNET */

#designet {
    width: 100%;
}

.designet_journey {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 40px 40px 40px 60px;
    position: relative;
}

.journey_bg1 {
    width: 60%;
}

.journey_bg2 {
    width: 100%;
}

.journey_wrap {
    width: 100%;
    grid-column: 2/2;
    grid-row: 3 /3;
}

.journey_img {
    position: absolute;
    left: 170px;
    top: 170px;
    width: 70%;
}

.designet_straw {
    width: 70%;
    display: block;
    margin: auto;
    padding-top: 60px;
}

.designet_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
    padding: 40px 60px;
}

.designet_img {
    width: 80%;
    padding-top: 100px;
}

.designet_txt {
    padding-top: 50px;
}

.deisgnet_citat {
    text-align: center;
    padding-top: 400px;
}

.designet_video_wrap {
    display: flex;
    justify-content: flex-end;
}

.designet_video {
    padding: 80px 0 60px;
    width: 80%;
}

.designet_beskrivelse {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    padding-left: 40px;
    grid-gap: 20px;
}

.designet_beskrivelse h4 {
    grid-column: span 3;
}


/* BESTIL */

#bestil {
    width: 100%;
}

.bestil_forhandler {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 2fr;
    padding: 40px;
    position: relative;
    width: 100%;

}

.bestil_forhandler img {
    width: 50%;
}

.bestil_bg {
    width: 80%;
    grid-row: span 2;
}

.images_loop {
    position: absolute;
    bottom: 110px;
    right: 40px;
}

.loop {
    width: 60%;
}

.bestil_straw {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 60px;
}




/* DIT GRØNNE AFTRYK */

#aftryk {
    width: 100%;
}

.aftryk_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 40px 60px;
    position: relative;
    height: 100%;
}

.aftryk_bg img {
    width: 100%;
}

.aftryk_bg {
    width: 100%;
    z-index: -2;
}

.aftryk_img {
    position: absolute;
    top: 150px;
    right: 200px;
    z-index: -1;
    width: 50%;
}

.txt1 {
    grid-column: 3;
    grid-row: 1;
    padding-top: 100px;
}

.txt2 {
    grid-column: 1;
    grid-row: 2;
    padding-top: 60px;
}

.txt3 {
    grid-column: 2 /3;
    grid-row: 3;
    padding-top: 60px;
    justify-self: end;
}


/* PRESSE */

#top {
    display: grid;
    grid-auto-rows: 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    text-align: center;
}

/* FAQ */
summary {
    font-weight: bold;
}

.empty {
    height: 200px;
}

#faq h1 {
    font-size: 3rem;
}

#faq {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    grid-gap: 80px;
    max-width: 950px;
    margin: 0 auto;

}

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

.some {
    padding:
}



.insta img {
    width: 10%;
}

.fb img {
    width: 5%;
}

@media screen and (max-width:750px) {
    #faq {
        grid-template-columns: repeat(1, 1fr);
        max-width: 300px;
    }

    /*  GENEREL MEDIA Q  */

    article {
        padding: 0 40px;
    }

    .logo {
        width: 5%;
    }


    /*  #FORSIDE MEDIA Q  */

    #forside {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }

    .video_wrap {
        grid-column: 1;
        width: 100%;
    }


    .intro_img {
        /*        position: relative;*/
        width: 100%;
        margin-left: 0;
        height: 100%;
    }


    .intro_video {
        right: auto;
        top: auto;
    }

    .pil {
        display: none;
    }

    .menu_story {
        display: none;
    }


}
